# Single switch:
# - PUBLIC_NODE_ENV=production  -> https://api.lumioui.com
# - PUBLIC_NODE_ENV=development -> http://localhost:3000

PUBLIC_NODE_ENV=development
LOCAL_IP=192.168.1.7
AUTH_SERVICE_URL=http://localhost:3000/api/v1
RIDER_SERVICE_URL=http://localhost:3000/api/v1
ORDER_SERVICE_URL=http://localhost:3000/api/v1
TRACKING_URL=http://localhost:3000/tracking
MAPMYINDIA_API_KEY=
MAPMYINDIA_CLIENT_ID=
MAPMYINDIA_CLIENT_SECRET=
