MONGODB_URI=mongodb://localhost:27017/notification_svc
REDIS_URL=redis://localhost:6379
GRPC_PORT=3010
HTTP_PORT=8090
RABBITMQ_URL=amqp://localhost:5672
FCM_PROJECT_ID=your-project-id
FCM_PRIVATE_KEY=your-private-key
FCM_CLIENT_EMAIL=your-client-email@project.iam.gserviceaccount.com
TWOFACTOR_API_KEY=your-2factor-api-key
