# Single switch:
# - PUBLIC_NODE_ENV=production  -> https://api.lumioui.com
# - PUBLIC_NODE_ENV=development -> http://localhost:3000

PUBLIC_NODE_ENV=development
LOCAL_IP=192.168.31.166
API_BASE_URL=http://localhost:3000/api/v1
AUTH_SERVICE_URL=http://localhost:3000/api/v1
USER_SERVICE_URL=http://localhost:3000/api/v1
RIDER_SERVICE_URL=http://localhost:3000/api/v1
ORDER_SERVICE_URL=http://localhost:3000/api/v1
PRODUCT_SERVICE_URL=http://localhost:3000/api/v1
CART_SERVICE_URL=http://localhost:3000/api/v1
LOCATION_SERVICE_URL=http://localhost:3000/api/v1
TRACKING_URL=http://localhost:3000/tracking
MAPMYINDIA_API_KEY=
MAPMYINDIA_CLIENT_ID=
MAPMYINDIA_CLIENT_SECRET=
